.container {
    width: 400px;
    padding: 5px;
    border-left: 1px solid rgb(242, 242, 242);
}

.parentRoot,
.childRoots,
.iconContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 25px;
    padding: 3px 5px;
}

.iconContainer span:first-child {
    margin-right: 10px;
}

.innrerContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    padding: 3px 0;
}

.parentRoot h4,
.childRoots h4,
p {
    font-size: 14px;
    margin-left: 10px;
}

.childRoots:hover {
    background-color: rgb(236, 236, 236);
    outline: 1px solid rgb(247, 247, 247);
    border-radius: 0 0 10px 0;
}

.parentRoot {
    background-color: white;
    width: 200px;
}

.childRoots {
    top: 30px;
    left: 28px;
    width: 200px;
    visibility: visible;
    background-color: rgb(250, 250, 250);
    outline: 1px solid rgb(247, 247, 247);
    transition: transform 10s ease;
    border-radius: 0 0 10px 0;
    z-index: -1;
}

.hide {
    visibility: hidden;
    transform: translateY(-100%);
}