.container {
    width: 400px;
    padding: 5px;
    border-left: 1px solid rgb(212, 212, 212);
    margin-left: 15px;
}

.parentRoot,
.childRoots,
.iconContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 25px;
    padding: 3px 5px;
}

.iconContainer span:first-child {
    margin-right: 10px;
}

.innrerContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    padding: 3px 0;
}

.parentRoot h4,
.childRoots h4,
.childRoots p {
    font-size: 14px;
    margin-left: 10px;
}

.childRoots:hover {
    background-color: rgb(236, 236, 236);
    outline: 1px solid rgb(247, 247, 247);
    border-radius: 0 0 10px 0;
}

.parentRoot {
    background-color: white;
    width: 200px;
}

.childRoots {
    top: 30px;
    left: 28px;
    width: 200px;
    visibility: visible;
    background-color: rgb(250, 250, 250);
    outline: 1px solid rgb(247, 247, 247);
    transition: transform 10s ease;
    border-radius: 0 0 10px 0;
    z-index: -1;
}

.hide {
    visibility: hidden;
    transform: translateY(-100%);
}

/* modal css ---------------------- */
.modal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* transition: opacity 0.5s; */
    transition: opacity 0.5s ease;
    /* position: fixed; */
}
.modal-container.open{
    display: flex;
    opacity: 1;
    /* position: fixed; */
}
.modal-inner{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* position: fixed; */
}
.modal-action-footer{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}
.modal-action-footer button:nth-child(1){
    margin-right: 10px;
}
.modal-action-footer button:nth-child(2){
    background-image: linear-gradient(to bottom right, #58d756, #2a3e51);
    color: white;

}
.modal-action-footer button{
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}
.modal-close-icon{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
.modal-close-icon span:hover{
    color: red;
    cursor: pointer;
}
.modal form{
    width: 30vw;
    display: block;
}
.modal form .inputField{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px 0px;
    outline: none;
    min-width: 30vw;
}
.create-folder-container{
    display: flex;
    flex-direction: column;
}