@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url("./assets/style.css");

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.main{
  background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
  height: 100vh;
}
.main > p{
  color: white;
  font-size: 16px;
  border-bottom: 1px solid whitesmoke;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  font-weight: 700;
}